.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-150px {
  width: 150px;
}

.main-color {
  color: #2E5789;
}

.green-color {
  color: #11D861;
}

.orange-color {
  color: #F99132;
}

.blue-dark-color {
  color: #1E88E5;
}

.color-777 {
  color: #777;
}

.section-bg-alt {
  background-color: rgba(30, 136, 229, 0.04);
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: #010B14;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #010B14;
}
a:hover {
  color: #010B14;
}

button {
  border: none;
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

input {
  direction: rtl !important;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

.main-nav {
  background-color: #fff;
}
.main-nav h1 .navbar-brand img {
  width: 187px;
  height: 50px;
}
.main-nav .navbar-toggler {
  padding: 0;
  border: 0px;
}
.main-nav .navbar-toggler:focus {
  box-shadow: none;
}
.main-nav .navbar-toggler i,
.main-nav .navbar-toggler svg {
  font-size: 31px;
}
.main-nav .nav-item.dropdown.dropdown-toggle::after {
  border: 0;
}
.main-nav .navbar-collapse .navbar-nav {
  flex: 1;
  justify-content: flex-start;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 16px;
  padding: 8px 12px;
  font-weight: 600;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #2E5789;
}
.main-nav .btn-holder .btn-sign {
  width: 132px;
  height: 44px;
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #3F3F3F;
  transition: 0.3s;
}
.main-nav .btn-holder .btn-sign:first-child:hover {
  background-color: transparent;
  color: #3F3F3F;
}
.main-nav .btn-holder .btn-sign:last-child {
  background-color: transparent;
  color: #3F3F3F;
}
.main-nav .btn-holder .btn-sign:last-child:hover {
  background-color: #3F3F3F !important;
  color: #fff !important;
}
.main-nav .options-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.main-nav .options-holder .nav-item .nav-link .user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.land-section {
  height: calc(100vh - 66px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.land-section .box-content {
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  text-align: center;
  background-color: #ebebeb;
}
.land-section .box-content .title {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 25px;
}
.land-section .box-content .des {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  color: #000000;
  opacity: 0.8;
}
.land-section .box-content .btn-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.land-section .box-content .btn-holder .start-btn {
  width: 300px;
  max-width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 44px;
  background-color: #3f3f3f;
  color: #fff;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
}
.land-section .box-content.dark {
  background-color: #c5c5c5;
}
@media (max-width: 767.98px) {
  .land-section {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */