.box-package {
  background: #f3fef4;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 40px 24px;
  .header {
    margin-bottom: 35px;
    color: #191d23;
    .title {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 20px;
      text-align: right;
    }
    .price {
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 20px;
      text-align: right;
    }
    .btn-order {
      width: 100%;
      padding: 10px 20px;
      color: $blue-color;
      border-radius: 4px;
      font-size: 15px;
      background-color: transparent;
      border: 1px solid $blue-color;
    }
  }
  .fet {
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .circle {
        @include flex-center;
        @include circle(25px, 25px);
        background-color: $blue-light-color;
        color: $blue-color;
        i,
        svg {
          font-size: 11px;
        }
      }
      p {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 15px;
        color: #191d23;
        text-align: right;
      }
    }
  }
  &.target {
    background: $green-color;
    box-shadow: 0px 10px 25px #ccd9ff;
    .header {
      color: $white-color;
      .btn-order {
        background-color: $white-color;
        color: $green-color;
        border-color: $white-color;
      }
    }
    .fet {
      li {
        .circle {
          i,
          svg {
            color: $green-color;
          }
        }
        p {
          color: $white-color;
        }
      }
    }
  }
}

.box-icon {
  @include flex-center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  background-color: $main-light-color;
  border: 1px solid $main-color;
  min-height: 250px;
  .icon-holder {
    @include flex-center;
    @include circle(63px, 63px);
    background-color: $main-color;
    margin-bottom: 8px;
    img {
      width: 33px;
    }
    i,
    svg {
      font-size: 35px;
    }
  }
  .title {
    font-weight: 600;
    font-size: 23px;
    color: #002655;
  }
  .des {
    font-weight: 400;
    font-size: 17px;
    color: #002655;
    opacity: 0.65;
  }
  &.box-green {
    background-color: $green-light-color;
    border-color: $green-color;
    .icon-holder {
      background-color: $green-color;
    }
  }
  &.box-blue {
    background-color: $blue-light-color;
    border-color: $blue-color;
    .icon-holder {
      background-color: $blue-color;
    }
  }
  &.box-purple {
    background-color: $purple-light-color;
    border-color: $purple-color;
    .icon-holder {
      background-color: $purple-color;
    }
  }
}

.box-img {
  @include flex-center;
  padding: 30px 35px;
  min-height: 130px;
  background: #ffffff;
  box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  border-radius: 8px;
  img {
    width: 130px;
  }
}
